@model PagedList.IPagedList<LMS.Models.Loan>
@using PagedList.Mvc

@{
    ViewBag.Title = "Loan";
	ViewBag.TitleSmall = "All";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="col-md-8">
                        @using (Html.BeginForm("Index", "Loans", FormMethod.Get, new { @id = "search-form" }))
                        {
                            <div class="checkbox checkbox-inline">
                                <label>
                                    @Html.CheckBox("ShowReturnedBooks", ViewBag.ShowReturnedBooks as bool?) Include Returned Books
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Member</th>
                                <th>Book Name</th>
                                <th>Book Copy Number</th>
                                <th>Loan Type</th>
                                <th>Loan Duration</th>
                                <th>Issued On</th>
                                <th>Due Date</th>
                                <th>Returned On</th>
                                <th>Loan Charge</th>
                                <th>Penalty Charge</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Member.FirstName @item.Member.MiddleName @item.Member.LastName </td>
                                    <td> @item.BookCopy.Book.Name </td>
                                    <td> @item.BookCopy.ID </td>
                                    <td> @item.LoanType.Name </td>
                                    <td> @item.LoanType.Duration days</td>
                                    <td> @item.IssuedOn.ToShortDateString() </td>
                                    <td> @item.DueDate.GetValueOrDefault().ToShortDateString() </td>
                                    <td> @Html.Raw(item.ReturnedOn == null ? "" : item.ReturnedOn.GetValueOrDefault().ToShortDateString()) </td>
                                    <td> @item.LoanCharge </td>
                                    <td> @item.PenaltyCharge </td>
                                    <td>
                                        @{
                                            if (item.ReturnedOn == null)
                                            {
                                                <a class="btn btn-success btn-sm" href="@Url.Action("Return", "Loans", new { id = item.BookCopy.ID })"><i class="fa fa-cart-arrow-down"> </i> Return Book</a>
                                            }
                                        }
                                        <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { id = item.ID })"><i class="fa fa-info"> </i> Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
    $(document).ready(function(){
        $("#search-form").on('change', 'input, select', function () {
            $(this).closest('form').submit();
        });
    });
    </script>
}
