@model LMS.Models.Book

@{
    ViewBag.Title = "Book";
	ViewBag.TitleSmall = "Edit";
}

<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit Book</h3>
            </div>

            @using (Html.BeginForm())
            {
                <div class="box-body">

                    @Html.AntiForgeryToken()
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })
					@Html.HiddenFor(model => model.ID)

					<div class="form-group">
						@Html.LabelFor(model => model.Name)
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.ISBN)
						@Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
					</div>

                    <div class="form-group">
                        <label for="SelectedAuthors">Authors</label>
                        <select name="SelectedAuthors" multiple class="form-control">
                            @{
                                foreach(var author in ViewBag.Authors)
                                {
                                    <option @(Html.Raw(author.Assigned ? "selected=\"selected\"" : "")) value="@author.AuthorID">@author.Name</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="SelectedCategories">Categories</label>
                        <select name="SelectedCategories" multiple class="form-control">
                            @{
                                foreach (var category in ViewBag.Categories)
                                {
                                    <option @(Html.Raw(category.Assigned ? "selected=\"selected\"" : "")) value="@category.CategoryID">@category.Name</option>
                                }
                            }
                        </select>
                    </div>

					<div class="form-group">
						@Html.LabelFor(model => model.PublisherID, "Publisher")
						@Html.DropDownList("PublisherID", null, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.PublisherID, "", new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PressID, "Press")
						@Html.DropDownList("PressID", null, htmlAttributes: new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.PressID, "", new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PublishedDate)
						@Html.EditorFor(model => model.PublishedDate, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.PublishedDate, "", new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.Charge)
						@Html.EditorFor(model => model.Charge, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Charge, "", new { @class = "text-danger" })
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.PenaltyCharge)
						@Html.EditorFor(model => model.PenaltyCharge, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.PenaltyCharge, "", new { @class = "text-danger" })
					</div>

				</div>

                <div class="box-footer">
                    <a class="btn btn-warning btn-sm" href="@Url.Action("Index")"><i class="fa fa-angle-double-left"> </i> Back to List</a>
                    <button type="submit" class="btn btn-success pull-right"><i class="fa fa-save"></i> Save</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
